@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  /* --- Colors --- */
 --color-primary-50: #e7eff8;
  --color-primary-100: #d6e2f4;
  --color-primary-200: #adc7e9;
  --color-primary-300: #88acd7;
  --color-primary-400: #578bc3;
  --color-primary-500: #0c62c3; /* The original hex code */
  --color-primary-600: #0a56ae;
  --color-primary-700: #084c98;
  --color-primary-800: #06407d;
  --color-primary-900: #053365;
  --color-primary-950: #021a36;

 
    --color-secondary-100: #e9dbf7;
  --color-secondary-200: #d4b7ef;
  --color-secondary-300: #b586e2;
  --color-secondary-400: #8e4ec7;
  --color-secondary-500: #643094; /* main violet */
  --color-secondary-600: #512575;
  --color-secondary-700: #3f1b5b;
  --color-secondary-800: #2c1340;
  --color-secondary-900: #1d0c2b;
  --color-secondary-950: #0f0616;
 

  /* --- Animations and Keyframes --- */
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
  --animate-float: float 3s ease-in-out infinite;
  --animate-pulse-slow: pulse 3s ease-in-out infinite;

  /* --- Shadows --- */
  --shadow-glow: 0 0 20px rgba(239, 68, 68, 0.3);
  --shadow-glow-lg: 0 0 40px rgba(239, 68, 68, 0.4);
}
body{
     font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
  }


  .ql-editor {
  min-height: 300px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.prose {
  font-family: "Inter", sans-serif;
  color: #222;
}

.ql-toolbar {
  border-radius: 10px 10px 0 0;
}

.ql-container {
  border-radius: 0 0 10px 10px;
}
